/*Ejercicio1*/
img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.to {
    text-align: center;
    background-color: rgb (206, 206, 206);
    padding: 100 px;
    width: 70 %;
    margin: 50 px auto;
}
.ta {
    text-align: center;
}
.logo {
    font-size: 40 px;
}
.logo2 {
    font-size: 40 px;
}
cabecera { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Ejercicio2*/
 <style>
    <style>
    .ex2 {
        resize: both;
        overflow: auto;
        display: grid;
        background-color: rgb (194, 231, 253);
        place-items: center;
    }
    
    .ex2 div {
        background-color:lightyellow;
    }
    </style>


/*Ejercicio3*/
  <style>
        .ex3 {
            resize: both;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            background-color: rgb (183, 219, 241);
            justify-content: center;
        }
        
        .ex3 div{
            flex: 0 1 150 px;
            margin: 5 px;
            background-color:rgb (253, 253, 253);
        }
        </style>
/*Final*/
h3 {
    color: white;
}

body {
    background-color: rgb (6, 6, 70);
}
