/*Ejercicio1*/
img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.to {
    text-align: center;
    background-color: rgb(206, 206, 206);
    padding: 100px;
    width: 70%;
    margin: 50px auto;
}
.ta {
    text-align: center;
}
.logo {
    font-size: 40px;
}
.logo2 {
    font-size: 40px;
}
cabecera { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Ejercicio2*/
 <style>
    .ex2 {
        resize: both;
        overflow: auto;
        display: grid;
        background-color:rgb(194, 231, 253);
        place-items: center;
    }
    
    .ex2 div {
        background-color:lightyellow;
    }
</style>


/*Ejercicio3*/
  <style>
        .ex3 {
            resize: both;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            background-color:rgb(183, 219, 241);
            justify-content: center;
        }
</style>
/*Final*/

        /* Fondo negro para el body y color de texto blanco */
body {
    background-color: black;
    color: black;
}

        /* Estilo de los títulos h3 */
h3 {
    color: white; /* Color de los títulos */
    font-size: 1.5em;
}

